@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*font-family: 'Inter', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  align-items: center;
}

@font-face {
  font-family: 'RPR';
  src:  url('../css/FOT-Yuruka_Std.woff2') format('woff2'),
        url('../css/FOT-Yuruka_Std.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.typeface {
  font-family: 'RPR', sans-serif;
}

:root {
  --main-font: 'Inter', sans-serif;
  --main-color: #ff370d;
  --background-color: #24272B;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --description-color: #D2D0D0;

  --green-color: #4AFF6B;
  --ip-copied-background: rgba(74, 255, 107, 0.17);
  --ip-copied-icon-background: rgba(74, 255, 107, 0.5);

  --copy-ip-button-background: #c42e00b3;
  --how-to-join-button-background: #c42e0033;
  --stats-background: #c42e000d;
  --stat-icon-background-2: #c42e0080;

  --scroll-bar: #ff801e;
  --scroll-bar-hover: #ff0000;

  --red-color: #FF7C7C;
  --warning-background: rgba(255, 124, 124, 0.17);
  --warning-icon-background: rgba(255, 124, 124, 0.5);
  --warning-color: #F5C1C1;

  /*Admin-Team rank colors*/
  --default-rank-color: rgba(210, 208, 208, 0.3);
}

body {
  background: var(--background-color);
  font-family: var(--main-font);
}

/*Navbar*/
.navbar {
  display: flex;
  position: fixed;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
  z-index: 2;
  width: max-content;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 14px;
  align-items: center;
  border-radius: 32px;
  background: #24272b48;
  backdrop-filter: blur(100px);
  transition: 0.3s ease-in-out;
}

.navbar a {
  text-decoration: none;
}

.navbar .menu-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu-mobile .logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.navbar .menu-mobile .logo img {
  padding-right: 50px;
  max-height: 40px;
  height: auto;
}

.navbar .menu-mobile .logo h3 {
  color: var(--white-color);
  font-weight: 900;
  font-size: 20px;
}

.navbar .links {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 30px;
  padding-right: 8px;
  transition: 0.3s ease-in-out;
  height: 100%;
}

.navbar .links .link {
  color: var(--description-color);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  height: 100%;
  align-items: end;
  justify-content: center;
  display: flex;
  gap: 4px;
}

.navbar .links .link.active {
  color: var(--white-color);
}

.navbar .links .link.active::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 2px;
  width: 80%;
  height: 1px;
  border-radius: 5px;
  background: var(--description-color);
}

.navbar .links .link.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 2px;
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background: var(--main-color);
}

.navbar .links .link img {
  height: 24px;
  width: auto;
}

.navbar .links .link.active div {
  align-items: end;
  justify-content: center;
  display: flex;
  gap: 2px;
}

.navbar .links .link:not(.active):hover {
  color: var(--white-color);
}

.navbar .menu-mobile .hamburger {
  color: var(--white-color);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  display: none;
  width: 42px;
}

.navbar .menu-mobile .hamburger img {
  width: 32px;
  height: 100%;
}

.navbar .menu-mobile .hamburger:hover {
  opacity: 0.8;
}

.navbar.active {
  max-height: 1000px;
}

.navbar.active .links {
  display: flex;
  opacity: 1;
  z-index: 2;
  transition: 0.3s ease-in-out;
}

/*CS*/
#CS {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-20px, -20px);
  height: max-content;
  width: 4rem;
  font-size: 8pt;
  color: var(--white-color);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 6;
  gap: 6px;
}

#CS .bg {
  background: var(--main-color);
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

/*Contacts*/
.contactoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--how-to-join-button-background);
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
}

.contactoverlay.active {
  display: flex;
}

.contactoverlay.anim {
  background: #c42e0080;
  opacity: 1;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--background-color);
  border-radius: 14pt;
}

#contacts .contentc {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  width: 100%;
  padding: 4dvh 2dvh;
}

#contacts .contentc .section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
}

#contacts .contentc .section-title::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 150px;
    height: 1px;
    border-radius: 5px;
    background: var(--description-color);
}

#contacts .contentc .section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: var(--main-color);
}

#contacts .contentc .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

#contacts .contentc .columns .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

#contacts .contentc .columns .contact-form .row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#contacts .contentc .columns .contact-form .row label {
    color: var(--description-color);
    font-size: 15px;
    line-height: 1.6;
}

.row input {
    background: var(--stats-background);
    border: none;
    padding: 20px 25px;
    font-size: 17px;
    color: var(--white-color);
    outline: none;
    border-radius: 5px;
    transition: 0.2s;
}

.row textarea {
    background: var(--stats-background);
    padding: 15px 20px;
    font-size: 15px;
    outline: none;
    line-height: 1.6;
    border-radius: 5px;
    color: var(--white-color);
    font-family: var(--main-font);
    border: none;
    transition: 0.2s;
    resize: vertical;
    overflow-y: auto;
    min-height: 200px;
    max-height: 350px;
    min-width: 100px;
    justify-content: center;
}

.row input:focus, .row textarea:focus, .row input:hover, .row textarea:hover {
    background: var(--how-to-join-button-background);
}

#contacts .contentc .columns .contact-form .form-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  #contacts .contentc .columns .contact-form .form-footer button {
    background: var(--copy-ip-button-background);
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 10px 30px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    gap: 10px;
  }
  
  #contacts .contentc .columns .contact-form .form-footer button:hover {
    opacity: 0.8;
  }
  
  #contacts .contentc .columns .contact-form .form-footer .alert {
    color: var(--description-color);
    font-size: 15px;
    text-align: center;
}


#contacts .content .columns .url {
    text-decoration: none;
    height: fit-content;
}

#contacts .content .columns .url:hover .link .link-description .icon {
    transform: scale(1.1);
}

#contacts .content .columns .link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--stats-background);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
}

#contacts .content .columns .link h5 {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

#contacts .content .columns .link .link-description {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 50px;
}

#contacts .content .columns .link .link-description .description {
    color: var(--description-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

#contacts .content .columns .link .link-description .description .discord-online-users {
    color: var(--green-color);
}

#contacts .content .columns .link .link-description .icon {
    border-radius: 5px;
    background: var(--stat-icon-background-2);
    padding: 10px;
    transition: 0.2s ease-in-out;
}

#contacts .content .columns .link .link-description .icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: relative;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 5px;
}

/*Footer*/
#footer {
  padding: 20px 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer p {
  color: var(--description-color);
  font-size: 17px;
}

#footer p span {
  color: var(--white-color);
}

#footer .social-links {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#footer .social-links .link {
  color: var(--description-color);
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}

#footer .social-links .link:hover {
  color: var(--white-color);
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--stats-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-hover);
}


/*Other*/
section:not(#header, #admin-team, #contacts) .content {
  padding: 90px 150px;
  width: 100%;
}

/*Responsive*/
@media screen and (max-width: 1625px) {
  .navbar {
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
    max-height: 90px;
  }

  .navbar .menu-mobile {
    width: 100%;
  }

  .navbar .menu-mobile .hamburger {
    display: flex;
    justify-content: center;
  }

  .navbar .links {
    display: none;
    opacity: 0;
    flex-direction: column;
    order: 2;
    width: 100%;
    opacity: 0;
    z-index: -1;
    padding: 0 18px 12px 26px;
  }
  
  .navbar .links .link {
    width: 100%;
    justify-content: left;
  }

  .navbar .links .link:not(.active):hover {
    transition: none;
  }
  
  .navbar .links .link.active::after {
    bottom: -4px;
    left: 0;
    transform: translateX(-12px);
    width: 6px;
    height: 32px;
    border-radius: 2px;
  }
}

@media screen and (max-width: 1625px) {
  section:not(#header, #admin-team, #contact) .content {
    padding: 90px;
  }

  #footer {
    padding: 20px 90px;
  }
}

@media screen and (max-width: 819px) {
  section:not(#header, #admin-team, #contacts) .content {
    padding: 50px 30px;
  }

  #footer {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 564px) {
  #footer {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
