@import "css/global.css";

/*Header*/
#header {
    background: url("../../images/hdbg7.png") no-repeat fixed center;
    min-width: 100%;
    min-height: 400px;
    height: 30vh;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    z-index: 0;
    display: flex;
    align-items: center;
}

#header .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 150px;
    width: 100%;
}

#header .content .info {
    display: flex;
    flex-direction: column;
}

#header .content .info .minecraft-server-ip {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#header .content .info .title {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 900;
}

#header .content .info .title span {
    color: var(--main-color);
}

#header .content .description {
    color: var(--description-color);
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.6;
}



/*Footer*/
#footer {
    background: var(--stats-background);
}

/*Responsive*/
/*Header*/
@media screen and (max-width: 1625px) {
    #header .content {
        padding: 150px 90px;
    }
}

@media screen and (max-width: 1361px) {
    #header .content {
        flex-direction: column;
        padding: 120px 90px;
    }
}

@media screen and (max-width: 819px) {
    #header .content {
        padding: 150px 30px;
    }

    #header .content .info .minecraft-server-ip {
        font-size: 15px;
    }

    #header .content .info .title {
        font-size: 40px;
    }

    #header .content .info .description {
        font-size: 16px;
    }
}

@media screen and (max-width: 530px) {
    #header .content {
        justify-content: start;
        align-items: start;
    }

    #header .content .info .title {
        font-size: 30px;
    }
}

/*Contacts*/
@media screen and (max-width: 1148px) {
    #contacts .content .columns {
        flex-direction: column;
    }

    #contacts .content .columns .url .link {
        max-width: 100%;
    }

    #contacts .content .columns .link .link-description {
        justify-content: space-between;
    }
}

@media screen and (max-width: 540px) {
    #contacts .content .columns .contact-form .form-footer {
        flex-direction: column;
        align-items: start;
    }

    #contacts .content .columns .contact-form .form-footer button {
        width: 100%;
        justify-content: center;
    }
}