@import "css/global.css";

/*Header*/
#header {
    background: url("../../images/hdbg5.png") no-repeat fixed center;
    min-width: 100%;
    min-height: 400px;
    height: 30vh;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    z-index: 0;
    display: flex;
    align-items: center;
}

#header .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 150px;
    width: 100%;
}

#header .content .info {
    display: flex;
    flex-direction: column;
}

#header .content .info .minecraft-server-ip {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#header .content .info .title {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 900;
}

#header .content .info .title span {
    color: var(--main-color);
}

#header .content .description {
    color: var(--description-color);
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.6;
}

/*Rules*/
#rules .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #24272B;
    background: linear-gradient(180deg, rgba(36, 39, 43, 1) 0%,rgba(44, 39, 41, 1) 100%)
}

#rules .warning {
    background: var(--warning-background);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#rules .warning p {
    color: var(--warning-color);
    font-size: 17px;
}

#rules .warning .icon {
    border-radius: 5px;
    background: var(--warning-icon-background);
    padding: 10px;
    transition: .2s ease-in-out;
}

#rules .warning .icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: relative;
    background: var(--red-color);
    color: var(--white-color);
    border-radius: 5px;
}

#rules .warning:hover .icon {
    transform: scale(1.1);
}

#rules .rules {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#rules .rules .rules-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
}

#rules .rules .rules-title::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 150px;
    height: 1px;
    border-radius: 5px;
    background: var(--description-color);
}

#rules .rules .rules-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: var(--main-color);
}

#rules .rules .rules-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
}

#rules .rules .rules-list .rule {
    color: var(--description-color);
    font-size: 17px;
    line-height: 1.6;
}

#rules .rules .rules-list .rule span {
    color: var(--main-color);
}

/*Discord*/
#discord {
    background-color: #2C2729;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23412c33' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%235a2e38' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23772c37' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%2397262e' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23ba1e1d' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23e12310' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23FF370D' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    min-width: 100%;
    height: 100%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    z-index: 0;
    padding: 90px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#discord .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#discord .content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#discord .content .section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
    text-align: left;
}

#discord .content .section-title span {
    color: var(--main-color);
}

.join-discord {
    background: var(--copy-ip-button-background);
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 10px 30px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.join-discord:hover {
    opacity: 0.8;
}

#discord .content .join-discord a {
    text-decoration: none;
    color: var(--white-color);
}


/*Responsive*/
/*Header*/
@media screen and (max-width: 1625px) {
    #header .content {
        padding: 150px 90px;
    }
}

@media screen and (max-width: 1361px) {
    #header .content {
        flex-direction: column;
        padding: 120px 90px;
    }
}

@media screen and (max-width: 819px) {
    #header .content {
        padding: 150px 30px;
    }

    #header .content .info .minecraft-server-ip {
        font-size: 15px;
    }

    #header .content .info .title {
        font-size: 40px;
    }

    #header .content .info .description {
        font-size: 16px;
    }

    #discord {
        flex-direction: column;
        padding: 30px;
    }
    
    #discord .content {
        padding: 20px;
    }
}

@media screen and (max-width: 530px) {
    #header .content {
        justify-content: start;
        align-items: start;
    }

    #header .content .info .title {
        font-size: 30px;
    }
}

/*Rules*/
@media screen and (max-width: 462px) {
    #rules .warning {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

/*Server Join*/
@media screen and (max-width: 380px) {
    #join-server .content .buttons {
        flex-direction: column;
        width: 100%;
    }
}